# Week 2 - Monday Lesson (variable assignment, loops, lists)

## Tasks Today:

1) Int & Float assignments <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Assigning int <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) Assigning float <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) Performing Calculations on ints and floats <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Addition <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Subtraction <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Multiplication <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Division <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Floor Division <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Modulo <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Exponential <br>
2) String Input-Output <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) String Assignment <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) print() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) String Concatenation <br>
 &nbsp;&nbsp;&nbsp;&nbsp; d) Type Conversion <br>
 &nbsp;&nbsp;&nbsp;&nbsp; e) input() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; f) format() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; g) Old Way (python 2) <br>
3) <b>In-Class Exercise #1</b> <br>
4) If Statements <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) 'is' keyword <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) 'in' keyword <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) 'not in' keyword <br>
5) <b>In-Class Exercise #2</b> <br>
6) Elif Statements <br>
7) Else Statements <br>
8) <b>In-Class Exercise #3</b> <br>
9) Built-In Functions <br>

 &nbsp;&nbsp;&nbsp;&nbsp; b) len() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) help() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; d) isinstance() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; e) abs() <br>
10) Try and Except <br>

### Int & Float Assignments

##### Assigning int

In [4]:
number = 6
print(number)

num = 21
print(num)

x = 2
y = 5
print(x)
print(2)

6
21
2
2

##### Assigning float

In [7]:
# float == decimal

num_float = 3.14
print(num_float)

my_float = (23.12312351328571893672438563926)
print(my_float)

3.14
23.12312351328572

#### Performing Calculations on ints and floats

##### Addition

In [10]:
num1 = 1 
num2 = 7 
print(num1 + num2)
result = num1 + num2
print(result)

#short hand +=

num3 = 10
result += num3
print(result)

8
8
18

In [12]:
num4 = 5
num5 = 8
num4 -= 2
print(num4)

3

##### Subtraction

In [14]:
num4 = 10
num5 = 15
result = num5 - num4
print(result)

#shorthand -=
num6 = -5
result -= num6
print(result)

5
10

##### Multiplication

In [16]:
num1 = 10
num2 = 4.7
product = num1 * num2
print(product)

num3 = 2
product *= num3
print(product)

47.0
94.0

##### Division

In [18]:
num1 = 45
num2 = 9
quotient = num1 / num2
print(quotient)

num3 = 5
quotient /= num3
print(quotient)

5.0
1.0

##### Floor Division

In [20]:
num1 = 5
num2 = 2

floored = num1//num2

print(floored)

num3 = 6
num4 = 4

num3 //= num4
print(num3)

2
1

##### Modulo

In [23]:
num1 = 6
if num1 %2 == 0:
    print('even')
else:
    print('odd')

even

In [25]:
num2 = 5
num3 = 3

remainder = num2 % num3
print(remainder)

num4 = 10
num5 = 7
num4 %= num5
print(num4)

2
3

##### Exponential

In [29]:
square = 5**2
print(square)

num1 = 9
num2 = 3
print(num2**num1)

#shorthand
num2 **= num1
print(num2)

25
19683
19683

### String Input-Output

##### String Assignment

In [42]:
# strings are immutable so you can't change them

name = 'Ryan'
dog = 'Golden Retriever'
print(name)
print(dog)

Ryan
Golden Retriever

##### print() <br>
<p>Don't forget about end=' '</p>

In [37]:
print("Hello,", name)

print("Full name:", name,"Rhoades")

Hello, Ryan
Full name: Ryan Rhoades

##### String Concatenation

In [41]:
first_name = "Luke"
last_name = "Skywalker"

full_name = first_name + " " + last_name

print(full_name)

full_name += " " + "Jedi Master"
print(full_name)

Luke Skywalker
Luke Skywalker Jedi Master

##### Type Conversion

In [43]:
# int()
# float()
# string()

# not every string can be made into float or integer, but every integer or float can be made into a string

name = "Mega Man"

string_num = "123"

print(string_num)
print(type(string_num))

int_num = int(string_num)
print(int_num)
print(type(int_num))

123
<class 'str'>
123
<class 'int'>

In [45]:
num1 = 10
float2 = 15.23

new_num1 = str(num1)
print(type(new_num1))

another_float = float(num1)
print(type(another_float))

<class 'str'>
<class 'float'>

##### input()

In [47]:
# input will always return a string

# name = input("What is your name?: ")
# print("Your name is: ",name)
# print(type(name))

# num = input("Give me a number: ")
# print(num)
# print(type(num))

What is your name?: 123
Your name is:  123
<class 'str'>
Give me a number: 123
123
<class 'str'>

##### format()

In [50]:
age = int(input("How old are you?: "))
name = input("What is your name?: ")

result_string = "You are {} years old, {} and you are getting wiser!".format(age, name)
print(result_string)

another_result = f"{age} is a great time in life, great job, {name}"
print(another_result)

How old are you?: 20
What is your name?: abc
You are 20 years old, abc and you are getting wiser!
20 is a great time in life, great job, abc

##### Old Way (python 2)

You are 31 and you look great for your age!

# In-Class Exercise 1 <br>
<p>Create a formatted statement that asks for a car's color, year, make, model and prints out the results</p>

In [52]:
color = input("What color is your car? ")
year = input("What year is your car? ")
make = input("What make is your car? ")
model = input("What model is your car? ")
total = f"Your car is {color} {make} {model} {year}"
print(total)

What color is your car? red
What year is your car? 2020
What make is your car? toyota
What model is your car? camry
Your car is red toyota camry 2020

### If Statements

In [56]:
# Truth Tree
# T && F = T
# T && T = T
# T // F = T
# F // T = T
# F // F = F

#if
#elif
#else

num1 = 6
num2 = 6

if num2 == num1:
    print("yay")
elif num1 > num2:
    print("Number 1 is larger")
elif num2 > num1:
    print("Number 2 is larger")
else:
    print("Yeah that's a number")
    
shirt_color = "black"
if shirt_color == "blue":
    print("your shirt is blue")
elif shirt_color == "black":
    print("alo ola")
else: 
    print("abcdyzxfa")

yay
alo ola

##### 'is' keyword

In [58]:
num3 = 90

if num3 == 90:
    print("super duper")

num4 = 90
if num3 is num4:
    print("gao")

super duper
gao

##### 'in' keyword

In [63]:
# check if a character is in a string
char_name = "Boba Fett"
if "b" in char_name.lower():
    print("Beautiful")
else:
    print("It's not here")

Beautiful

##### 'not in' keyword'

In [64]:
sega_char = "Sonic"
sega_char2 = "Sanic"

if "a" not in sega_char2.lower():
    print("This is Sonic")
else:
    print("This is Sanic")

This is Sanic

# In-Class Exercise 2 <br>
<p>Ask user for input, check to see if the letter 'p' is in the input</p>
<p>Check for case sensitivity</p>

In [66]:
ask = input("Type something: ")
if "p" in ask.lower():
    print("The text has 'p'")
else:
    print("The text has no 'p'")

Type something: qweqweqwp
The text has 'p'

In [161]:
ask_2 = input("Enter you string: ")
if "p" in ask_2.lower():
    print("Sting has p letter init")
else:
    print("Sting has no p letter init")

Enter you string: potatoes
Sting has p letter init

In [67]:
ask_3 = input("Give me a word: ")
if "p" in ask_3.lower():
    print("Yep theres a (p) in that word")
else:
    print("Nope theres no (p) in that word")

Give me a word: qweqwep
Yep theres a '(p)' in that word

In [163]:
ask_4 = input("Hey you, enter a string: ")
if "p" in ask_4.lower():
    print("Big P in here")
else:
    print("Sting has no p letter init")

Hey you, enter a string: Percy
Big P in here

## Using 'and'/'or' with If Statements

In [76]:
num1 = 15
num2 = 3
num3 = 10
num4 = 3

#if with and statement
if num1/5 == num2 and num3 - 7 == num4:
    print("True and True")
else:
    print("one of the above statement is false")
    
#if with or
if num1 > num2 or num3 == num4:
    print("at least one of these statements is true")
else:
    print("Its all false")

True and True
at least one of these statements is true

### Elif Statements

In [78]:
first_name = "Bar"

if first_name == "John":
    print("Hello John")
elif first_name == "Cheetor":
    print("Hello Cheetor")
elif first_name == "Bulbasaur":
    print("I choose you!")
else:
    print("nah")

nah

### Else Statements

In [79]:
number = 112
if number == 20:
    print(number)
elif number == 15:
    print(number)
else:
    print(f"The number is neither 15 or 20, it is {number}")

The number is neither 15 or 20, it is 112

### String Manipulation

#### .lstrip()

In [80]:
# our_string.lstrip()

name = "            Lando Calrissian"
print(name)
print(name.lstrip())

            Lando Calrissian
Lando Calrissian

#### .rstrip()

In [83]:
#our_string.rstrip()

name = "stupid love          "
print(name)
print(name.rstrip())

stupid love
stupid love

#### .strip()

In [84]:
#our.string.strip()

name = "         Mah Name          "
print(name)
print(name.strip())

         Mah Name
Mah Name

In [90]:
# .replace let you replace an item with different item

name = "           Crazy Love            "
name_2 = name.replace("Crazy", "Stupid", 1)
name_2 = name_2.strip()
print(name)
print(name_2)

name_3 = ";;;;;;;;;;;;;;;;;;;;Don"
name_4 = name_3.replace(";","")
print(name_4)

           Crazy Love
Stupid Love
Don

#### .title()

In [89]:
name = "nhien tran"
name_2 = name.title()
print(name_2)

Nhien Tran

#### .upper()

In [91]:
name = "nhien tran"
name_2 = name.upper()
print(name_2)

NHIEN TRAN

#### .lower()

In [92]:
name = "NHIEN TRAN"
name_2 = name.lower()
print(name_2)

nhien tran

### String Exercise

Have a user input a sentence. Return the name with all white space removed and each first letter capitalized.

In [94]:
first = input("What is your first name?: ")
last = input("What is your last name?: ")
full = first +" "+ last
full = full.strip().title()
print(f"Your name is {full}")

What is your first name?: an
What is your last name?: lu
Your name is An Lu

In [97]:
first = input("Enter a name: ")
full = first.strip().title()
print(f"Your name is {full}")

Enter a name:                 an luu
Your name is An Luu

In [99]:
first = input("Enter your name: ")
full = first.strip().title()
print(f"Your name is {full}")

Enter your name: gascia
Your name is Gascia

In [101]:
first = input("What is your name?: ")
full = first.strip().title()
print(f"Your name is {full}")

What is your name?: anh luu thi tu
Your name is Anh Luu Thi Tu

### Built-In Functions

##### len()

In [102]:
name = "Max"

print(len(name))

length_of_name = len(name)

print(length_of_name)

my_list = [1, 2, 3, 4, 5, 6]
print(len(my_list))

3
3
6

##### help()

Help on built-in function len in module builtins:

len(obj, /)
    Return the number of items in a container.

Help on built-in function print in module builtins:

print(...)
    print(value, ..., sep=' ', end='\n', file=sys.stdout, flush=False)

    Prints the values to a stream, or to sys.stdout by default.
    Optional keyword arguments:
    file:  a file-like object (stream); defaults to the current sys.stdout.
    sep:   string inserted between values, default a space.
    end:   string appended after the last value, default a newline.
    flush: whether to forcibly flush the stream.

Help on built-in function max in module builtins:

max(...)
    max(iterable, *[, default=obj, key=func]) -> value
    max(arg1, arg2, *args, *[, key=func]) -> value

    With a single iterable argument, return its biggest item. The
    default keyword-only argument specifies an object to return if
    the provided iterable is empty.
    With two or more arguments, return the largest argument.

##### isinstance()

In [107]:
# check a variable to find out what Object family (data type) it belongs to

a = "4"
print(type(a))
print(isinstance(a, int))

<class 'str'>
False

<class 'str'>
True

False

##### abs()

In [108]:
print(abs(-5))

print(abs(-5-15))

5
20

### Try and Except

In [112]:
#use this whenever you expect encounter a bug so that the error doesn't cause the program to stop
#logging graceful error messages to gently nuge the user in the right direction

try:
    age = int(input("How old are you? "))
    print(f"Happy Birthday, you were {age} and now you are {age+1}")
except:
    print("Please enter a number, not text")

How old are you? 20
Happy Birthday, you were 20 and now you are 21

How old are you? sdfg

ValueError: invalid literal for int() with base 10: 'sdfg'

## Exercise #1 <br>
<p>Accept two user ages as inputs and give us the difference between them. (The Answer should always be a positive output)</p>

In [6]:
int_1 = int(input('How old are you?: '))
int_2 = int(input('How old is your partner?: '))
print("The difference is",abs(int_1 - int_2))

How old are you?: 14
How old is your partner?: 18
The difference is 4

## Exercise #2 
<p>Accept 3 user inputs for variables named noun, verb and adjective. Print out a formatted string using the outputs.</p>

In [1]:
noun = input("Enter a noun: ").strip()
verb = input("Enter a verb: ").strip()
adjective = input("Enter a adjective: ").strip()
print(f"The output is '{noun} {verb} {adjective}'")

Enter a noun: tree
Enter a verb: run
Enter a adjective: fast
The output is 'tree run fast'

## Exercise #3 <br>
<p>Take in a users input for their age, if they are younger than 18 print kids, if they're 18 to 65 print adults, else print seniors</p>

In [1]:
age = int(input("Enter your age: "))
if age < 18:
    print("kids")
elif 18 < age < 65:
    print("adults")
else:
    print("seniors")

Enter your age: 19
adults

## Exercise #4
<p>Take in a number from a user input, output the number squared.</p>

In [3]:
num = int(input("Enter a number: "))
print("The number squared is",num**2)

Enter a number: 9
The number squared is 81

## Exercise #5
<p>Check the below variables' length. If the length of the word is greater than 5 output True, if it is less than 5, output False<p>

In [8]:
word1 = "panini"
word2 = "bulbasaur"
word3 = "pie"
word4 = "dolphin"
word5 = "dog"

if len(word1) > 5:
    print("True")
else:
    print("False")
if len(word2) > 5:
    print("True")
else:
    print("False")
if len(word3) > 5:
    print("True")
else:
    print("False")
if len(word4) > 5:
    print("True")
else:
    print("False")
if len(word5) > 5:
    print("True")
else:
    print("False")

True
True
False
True
False