# Functions, Scoping, Data Collections 1 & List Comprehensions

## Tasks Today:

<i>Monday Additions (for loops)</i>

1) For Loops <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Using 'in' keyword <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) Continue Statement <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) Break Statement <br>
 &nbsp;&nbsp;&nbsp;&nbsp; d) Pass Statement <br>
 &nbsp;&nbsp;&nbsp;&nbsp; e) Double For Loops <br>
2) While Loops <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Looping 'While True' <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) While and For Loops Used Together <br>
 
3) Lists <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Declaring Lists <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) Indexing a List <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) .append() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; d) .insert() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; e) .pop() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; f) .remove() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; g) del() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; h) Concatenating Two Lists <br>
 &nbsp;&nbsp;&nbsp;&nbsp; i) Lists Within Lists <br>
 &nbsp;&nbsp;&nbsp;&nbsp; j) Looping Through Lists <br>
4) Working With Lists <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) min() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) max() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) sum() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; d) sort() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; e) Copying a List <br>
 &nbsp;&nbsp;&nbsp;&nbsp; f) 'in' keyword <br>
 &nbsp;&nbsp;&nbsp;&nbsp; g) 'not in' keyword <br>
 &nbsp;&nbsp;&nbsp;&nbsp; i) Checking an Empty List <br>
 &nbsp;&nbsp;&nbsp;&nbsp; j) Removing Instances with a Loop <br> 
5) List Comprehensions <br>
6) Tuples <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) sorted() <br>

### For Loops

In [11]:
# for keyword, counter/iterator, in keyword, object
for i in range(10):
    print(i)
print("\n")
name = "Ryan Rhoades"
for letter in name:
    if letter == " ":
        print("This is a space")
    else:
        print(letter)

0
1
2
3
4
5
6
7
8
9


R
y
a
n
This is a space
R
h
o
a
d
e
s

##### Using 'in' keyword

In [10]:
#in is what accesses the items in an iterable
for num in range(15):
    print(num**2)

0
1
4
9
16
25
36
49
64
81
100
121
144
169
196

##### Continue Statement

In [14]:
# continue is a skip inside for loop
for i in range(10):
    if i == 5 or i == 6:
        continue
    print(i)

0
1
2
3
4
7
8
9

##### Break Statement

In [18]:
for i in range(10):
    if i == 5: 
        print(i)
        break
    print(i)

0
1
2
3
4
5

##### Pass Statement

In [20]:
# mostly used as a placeholder, and will continue on same iteration
for i in range(100):
    pass

##### Double For Loops

In [21]:
for i in range(5):
    for j in range(5):
        print("i = ",i,"j = ",j)

i =  0 j =  0
i =  0 j =  1
i =  0 j =  2
i =  0 j =  3
i =  0 j =  4
i =  1 j =  0
i =  1 j =  1
i =  1 j =  2
i =  1 j =  3
i =  1 j =  4
i =  2 j =  0
i =  2 j =  1
i =  2 j =  2
i =  2 j =  3
i =  2 j =  4
i =  3 j =  0
i =  3 j =  1
i =  3 j =  2
i =  3 j =  3
i =  3 j =  4
i =  4 j =  0
i =  4 j =  1
i =  4 j =  2
i =  4 j =  3
i =  4 j =  4

In [22]:
for i in range(5):
    print("I = ", i)
    for j in range(5):
        print("j = ",j)

I =  0
j =  0
j =  1
j =  2
j =  3
j =  4
I =  1
j =  0
j =  1
j =  2
j =  3
j =  4
I =  2
j =  0
j =  1
j =  2
j =  3
j =  4
I =  3
j =  0
j =  1
j =  2
j =  3
j =  4
I =  4
j =  0
j =  1
j =  2
j =  3
j =  4

### While Loops

In [23]:
#while keyword, condition statement
#while loop will run based on the condition statement
counter = 0
while counter < 11:
    counter += 1
    print(counter)

1
2
3
4
5
6
7
8
9
10
11

In [25]:
counter = 0
while counter < 11:
    print(counter)
    counter += 2

0
2
4
6
8
10

##### looping 'While True'

In [26]:
# true as a condition for while loop to run
game_over = False
while True:
    print("infinite loop")
    if game_over == False:
        break

infinite loop

In [28]:
game_over = True
counter = 0
while game_over:
    counter += 1
    print("infinite loop")
    if counter == 10:
        game_over = False

infinite loop
infinite loop
infinite loop
infinite loop
infinite loop
infinite loop
infinite loop
infinite loop
infinite loop
infinite loop

##### While & For Loops Used Together

In [29]:
j = 0
while j < 10:
    print("\n While loop iteration: " + str(j))
    for i in range(2):
        print("For loop iteration: " + str(i))
    j += 1

 While loop iteration: 0
For loop iteration: 0
For loop iteration: 1

 While loop iteration: 1
For loop iteration: 0
For loop iteration: 1

 While loop iteration: 2
For loop iteration: 0
For loop iteration: 1

 While loop iteration: 3
For loop iteration: 0
For loop iteration: 1

 While loop iteration: 4
For loop iteration: 0
For loop iteration: 1

 While loop iteration: 5
For loop iteration: 0
For loop iteration: 1

 While loop iteration: 6
For loop iteration: 0
For loop iteration: 1

 While loop iteration: 7
For loop iteration: 0
For loop iteration: 1

 While loop iteration: 8
For loop iteration: 0
For loop iteration: 1

 While loop iteration: 9
For loop iteration: 0
For loop iteration: 1

##### The Range Function

In [31]:
# range(start, stop, step) - stop is required and start defaults to 0 if none is given
for i in range(10):
    print(i)
print("\n")
for i in range(2,10):
    print(i)
print("\n")
for i in range(1,10,2):
    print(i)

0
1
2
3
4
5
6
7
8
9


2
3
4
5
6
7
8
9


1
3
5
7
9

### String Manipulation Exercise

In [34]:
names = ['    coNNor', 'max', ' EVan ', 'JORDAN']
# HINT: You will need to use a for loop for iteration
# Loop through the names list, remove white space and capitalize the first letter of each name. Print each new name.
for name in names:
    print(name.strip().title())

Connor
Max
Evan
Jordan

In [35]:
for name in names:
    print(name.strip().title(), end = " ")

Connor Max Evan Jordan

## Lists

##### Declaring Lists

In [40]:
our_list = []
#list will always be square braskets

names = ["Ryan, Jordan, Justin, Jackson, Obama"]

numbers = [1, 2, 3, 4, 5, 6]

print(names)
print(numbers)

['Ryan, Jordan, Justin, Jackson, Obama']
[1, 2, 3, 4, 5, 6]

##### Indexing a List

In [51]:
# [start: stop: step] --> last item [-1]
# list
names = ["Ryan", "Jordan", "Justin", "Jackson", "Obama", "Nhien"]

# single index
print(names[1])
name = names[0]
print(name)
print(names[-1])

print("\n")
#print starting at index 1 and going to the end of the list
print(names[1:4])

#print starting at index 0 and stepping by 2
print(names[0::2])

#print starting at the back and go to the front of the list
print(names[::-1])

Jordan
Ryan
Nhien


['Jordan', 'Justin', 'Jackson']
['Ryan', 'Justin', 'Obama']
['Nhien', 'Obama', 'Jackson', 'Justin', 'Jordan', 'Ryan']

### List Methods

##### .append()

In [53]:
names = ["Ryan", "Jordan", "Justin", "Jackson", "Obama", "Nhien"]
names.append("Anh")
print(names)

['Ryan', 'Jordan', 'Justin', 'Jackson', 'Obama', 'Nhien', 'Anh']

##### .insert()

In [58]:
names = ["Ryan", "Jordan", "Justin", "Jackson", "Obama", "Nhien"]
names.insert(2,"Anh")
print(names)

names.insert(len(names), "Chiu")
names.append("Chiu2")

print(names)

['Ryan', 'Jordan', 'Anh', 'Justin', 'Jackson', 'Obama', 'Nhien']
['Ryan', 'Jordan', 'Anh', 'Justin', 'Jackson', 'Obama', 'Nhien', 'Chiu', 'Chiu2']

##### .pop()

In [62]:
# default is the last value if no parameter is given
# pop returns the element that was removed in case you want to assign it into a variable
names = ["Ryan", "Jordan", "Justin", "Jackson", "Obama", "Nhien"]
names.pop(0)
print(names)

popped_friends = names.pop(2)
print(popped_friends)
print(names)

names.pop()
print(names)

['Jordan', 'Justin', 'Jackson', 'Obama', 'Nhien']
Jackson
['Jordan', 'Justin', 'Obama', 'Nhien']
['Jordan', 'Justin', 'Obama']

##### .remove()

In [67]:
# value to be removed, not an index
names = ["Bob", "Jordan", "Bob", "Justin", "Bob", "Bob", "Nhien"]
#names.remove("Bob")

for name in names:
    if name == "Bob":
        names.remove(name)

print(names)

['Jordan', 'Justin', 'Bob', 'Nhien']

In [69]:
names = ["Bob", "Jordan", "Bob", "Justin", "Bob", "Bob", "Nhien"]
while "Bob" in names:
    names.remove("Bob")
    
print(names)

['Jordan', 'Justin', 'Nhien']

### Working With Lists

##### del()

In [70]:
# index to be removed, not value 
# BE CAREFUL with del, can cause an indexing error if not used carefully
names = ["Bob", "Jordan", "Bob", "Justin", "Bob", "Bob", "Nhien"]
del(names[0])
print(names)

['Jordan', 'Bob', 'Justin', 'Bob', 'Bob', 'Nhien']

##### min()

In [80]:
# return the smallest item in a list
numbers = [2, 5, 6, 14, 1]
print(min(numbers))

names = ["Stephanie", "Jordan", "Bob", "Justin", "El", "Bob", "bob", "Nhien"]
print(min(names))

1
Bob

##### max()

In [79]:
# returns largest item in a list
numbers = [2, 5, 6, 14, 1]
print(max(numbers))
names = ["Stephanieasdsadsadsada", "Jordan", "Bob", "Justin", "El", "Ze", "zi", "Nhien"]
print(max(names))

14
zi

##### sum()

In [81]:
# return the sum of all numbers in a list
numbers = [2, 5, 6, 14, 1]
print(sum(numbers))

28

##### sorted()

In [67]:
#sorted will return a new sorted list, create a new variable
numbers = [3, 6, 1, 5, 10, -12]

print(sorted(numbers))
sorted_nums = sorted(numbers)
print(sorted_nums)

[-12, 1, 3, 5, 6, 10]
[-12, 1, 3, 5, 6, 10]

##### .sort() <br>
<p>Difference between sort and sorted, is that sorted doesn't change original list it returns a copy, while .sort changes the original list</p>

In [82]:
#.sort() will sort the original list
numbers = [3, 6, 1, 5, 10, -12]
numbers.sort(reverse=True)
print(numbers)

[10, 6, 5, 3, 1, -12]

##### Copying a List

In [72]:
# [:] copies a list, doesn't alter original'
numbers = [3, 6, 1, 5, 10, -12]
new_list = numbers[:]

print(numbers)
print(new_list)

[3, 6, 1, 5, 10, -12]
[3, 6, 1, 5, 10, -12]

##### Looping Through Lists

In [94]:
#Three ways to loop through a list. one is by index and the other is by value, using the "in" keyword
names = ["Han Solo", "Leia Organa", "Luke Skywalker", "Lando Calrissian", "Mace Windu"]

#Looping by value
for name in names:
    print(name)

print("\n")
#looping by index with range(len)
for i in range(len(names)):
    print(names[i])
print("\n")
#enumerate
for i,name in enumerate(names):
    print(i,name)

Han Solo
Leia Organa
Luke Skywalker
Lando Calrissian
Mace Windu


Han Solo
Leia Organa
Luke Skywalker
Lando Calrissian
Mace Windu


0 Han Solo
1 Leia Organa
2 Luke Skywalker
3 Lando Calrissian
4 Mace Windu

##### 'in' keyword

In [97]:
names = ["Ryan", "Alex", "Tenzin", "Kate", "Gus", "Nate"]

if "Kate" in names:
    print("Hello Kate")
elif "Gus" in names:
    print("Good day, Gus")
else:
    print("So long and thanks")

Hello Kate

##### 'not in' keyword

In [99]:
names = ["Ryan", "Alex", "Tenzin", "Kate", "Gus", "Nate"]

if "Jeremy" not in names:
    print("Sorry Jeremy")
else:
    print("Guten Tag, Jeremy")

Sorry Jeremy

##### Checking an Empty List

In [100]:
l_2 = []
l_3 = None
if l_2 == []:
    print("That is an empty list. Would ya just look at it")
    
if l_3 == l_2:
    print("neat")
else: 
    print("that is not neat")

That is an empty list. Would ya just look at it
that is not neat

##### Removing Instances with a Loop

In [101]:
#while, remove
names = ["Ryan", "Alex", "Tenzin", "Austin", "Jeong", "Nate"]
while "Ryan" in names:
    names.remove("Ryan")
print(names)
names = ["Ryan", "Alex", "Tenzin", "Austin", "Jeong", "Nate"]
#for loop, remove
for name in names: 
    if name == "Austin":
        names.remove("Austin")
print(names)

['Alex', 'Tenzin', 'Austin', 'Jeong', 'Nate']
['Ryan', 'Alex', 'Tenzin', 'Jeong', 'Nate']

### List Exercise <br>
<p>Remove all duplicates<br><b>Extra: Create a program that will remove any duplicates from a given list</b></p>

In [128]:
names = ['connor', 'connor', 'bob', 'connor', 'evan', 'max', 'evan', 2, 2, 2, 3, 3, 4, 'bob', 'kevin']
# Hint 1: You will need an append
# Hint 2: Using an empty list will make life easier
names_2 = []
for name in names:
    if name not in names_2:
        names_2.append(name)
print(names_2)

['connor', 'bob', 'evan', 'max', 2, 3, 4, 'kevin']

### List Comprehensions <br>
<p>Creating a quickly generated list to work with<br>*result*  = [*transform*    *iteration*         *filter*     ]</p>

##### In a list comprehension we have a few pieces:
1. The first is the counter/ variable - IN this the variable is x
2. then we have a transform for the variable
3. The finale part of a list comp is called the condition

```python
    [transform, iteration/variable, condition]
```

In [133]:
nums = [2, 4, 5, 6, 7, 8, 9, 10]
nums_squared = []

for num in nums:
    if num%2 == 0:
        nums_squared.append(num**2)
    
print(nums_squared)

nums_squared = [num**2 for num in nums]

print(nums_squared)

nums_squared = [num**2 for num in nums if num%2 == 0]

print(nums_squared)

[4, 16, 36, 64, 100]
[4, 16, 25, 36, 49, 64, 81, 100]
[4, 16, 36, 64, 100]

There are a few benefits to using List comprehensions. The most obvious would be that we now have shorter code to work with instead of using 3+ lines of code in the for loop variant.

Another is an added benefit to memory usage. Since the list's memory is allocated first before adding elements to it, we don't have to resize the list once we add elements to it.

Lastly, list comprehensions are considered the "pythonic" way to write code by the PEP8 standards (Python Style Guide)

In [118]:
dogs = ["tucker","sam", "deliah","eyo"]

first_letters = [name[0] for name in dogs]

print(first_letters)

first_letters1 = []
for name in dogs:
    first_letters1.append(name[0])
print(first_letters1)

['t', 's', 'd', 'e']
['t', 's', 'd', 'e']

In [121]:
dogs = ["tucker","sam", "deliah","eyo", "sean", "henri"]
s_names = []
for name in dogs:
    if name[0] == 's':
        s_names.append(name)
print(s_names)

#conditional in list comprehension
# if always comes after the for
s_names = [name for name in dogs if name[0] == "s"]

print(s_names)

['sam', 'sean']
['sam', 'sean']

### Tuples <br>
<p><b>Defined as an immutable list</b></p><br>Seperated by commas using parenthesis

In [136]:
tup_1 = (1, 2, 3) #declaring a tuple
tup_2 = 4, 5, 6 #another also nice way to create a tuple

print(tup_1)
print(tup_2)

#can loop through because tuple is an iterable
for num in tup_1:
    print(num)
    
print(tup_1[1])

(1, 2, 3)
(4, 5, 6)
1
2
3
2

In [139]:
#things you cannot do with tuples:
#you cant alter them
#you cant add to them
#you cant remove from them

##### sorted()

In [140]:
tup = (20, 5, 1, 10, 95, 123)

sorted_sup = sorted(tup)

new_tup = tuple(sorted(tup))

print(tup)
print(new_tup)

(20, 5, 1, 10, 95, 123)
(1, 5, 10, 20, 95, 123)

In [141]:
my_list = [1,2,3]
my_list2 = (4,5,6)
my_list3 = my_list + my_list2
print(my_list3)

TypeError: can only concatenate list (not "tuple") to list

##### Adding values to a Tuple

In [145]:
tup = (20, 5, 1, 10, 95, 123)
tup = tup + (6,)
print(tup)

(20, 5, 1, 10, 95, 123, 6)

# Exercises

## Exercise 1 <br>
<p>Using the given list, print out a filtered version of the list with only the numbers that are less than ten</b></i></p><br>

In [151]:
alist = [1,11,14,5,8,9]
blist = [num for num in alist if num < 10]

print(blist)

[1, 5, 8, 9]

## Exercise 2 <br>
<p>Merge and sort the two lists below<br>
<b><i>Hint: You can use the .sort() method</i></b></p>

In [196]:
l_1 = [1,2,3,4,5,6]
l_2 = [3,4,5,6,7,8,10]
l_3 = []
for num in l_1 + l_2:
    if num not in l_3:
        l_3.append(num)
        l_3 = sorted(l_3)
        
print(l_3)

[1, 2, 3, 4, 5, 6, 7, 8, 10]

## Exercise 3 <br>
<p>Square every number from 1 to 15<br>

In [1]:
ex_3 = [x**2 for x in range(1,16)]
print(ex_3)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100, 121, 144, 169, 196, 225]

## Exercise 4<br>
<p>Using List Comprehension and the given list, print out a filtered list with 
only the names that start with the letter 'a'. 
The names in the outputted list should be title cased and have no whitespace.<br>

In [2]:
names_list = ['   amy', 'Briant', 'Ryan ', ' Alex', 'steve', '  ']
#expected output = ['Amy', 'Alex']
ex_4 = [name.strip().title() for name in names_list if name.strip().lower().startswith("a")]
print(ex_4)

['Amy', 'Alex']

# Exercise 5 <br>
<p>Print all Prime numbers from 1 to 100<br>

In [10]:
for num in range(1, 101):
    if num > 1:
        for i in range(2, num):
            if (num % i) == 0:
                break
        else:
            print(num)

2
3
5
7
11
13
17
19
23
29
31
37
41
43
47
53
59
61
67
71
73
79
83
89
97